*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    background-color: blueviolet;
    display: grid;
    margin: 0 auto;
    width: 50%;
    /* grid-template-rows: 100px 100px 100px; */
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px); */
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
}

.grid-items{
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}